@import "global-style.scss";

body {
    .container {
        .mainCard {
            width: 80vw;
            height: 90vh;
            .completedListItem {
                text-decoration: line-through;
            }
            .addFAB {
                position: fixed;
                bottom: 11vh;
                right: 12vw;
            }
        } 
    }
}
